@import 'tailwindcss';

body {
  padding: 20px 20px 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px;
  max-width: 20%;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}


section {
  scroll-margin-top: 80px;
}


main,
.page-container {
  padding-top: 80px;
}